@import url("lib/all.min.css");

.fianet-avis-etoile, .fianet-avis-etoile-moitie {
	color: #12acb6;
}

.fianet-avis-etoile-vide {
	color: #12acb6;
}

.fianet-avis-nom {
	font-weight:normal;
	font-size: 13px;
	font-family:arial;
}
.fianet-avis-date{
	font-weight:normal;
	font-size: 11px;
	font-family:arial;
	font-style:italic;
}


.fianet-avis-separator {
	height: 3px;
	border-style: solid;
	border-color: #ADADAD;
	border-width: 1px 0 0 0;
	margin-left:-15px;
	width:103%;
	margin-top: 20px;
}

.fianet-avis-note{
	font-weight:bold;
	font-size: 23px;
	font-family:arial;
	font-color:#444444;

}

.fianet-avis-note-sur{
	font-weight:normal;
	font-size: 22px;
	font-family:arial;
	font-color:#444444;

}
.fianet-avis-section {
	background-color: #f5f5f5;
	font-color:#444444;
}

.fianet-avis-commentaire{
	background-color: #d9f4f6;
    border-radius: 4px;
    font-size: 12px;
    padding: 15px;
	font-color:#444444;

}

h2 {
	font-weight:bold;
	font-size: 24px;
	font-family:arial;
	font-color:#444444;
	margin-left:-15px;
}

h3 {
	font-weight:normal;
	font-size: 22px;
	font-family:arial;
	height:35px;
	font-color:#444444;
	margin-bottom:15px;
	margin-left:-14px;
}

h3 img {
	margin-top:-5px
}

#fianet-avis-pager  {
	float:right;
}

#fianet-avis-pager div {
	display: inline;
	list-style: none;
}

.fianet-avis-previous {
	margin-right: 10px;
	cursor: pointer;
}

.fianet-avis-next {
	margin-left: 10px;
	cursor: pointer;
}

.invisible {
	visibility: hidden;
}
