.noDisplay {
	display: none !important;
}

.select2-selection.select2-selection--single {
	height: 50px;
}

.select2-selection__placeholder,
.select2-selection__clear{
	line-height: 35px;
}

.btn-outline-success {
	color: #5CB85C;
	background-color: transparent;
	background-image: none;
	border-color: #5CB85C;
}
.btn-outline-success:focus,
.btn-outline-success.focus {
	outline: 0 !important;
	color: #5CB85C;
	-webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
	box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}
.btn-outline-success:hover {
	color:#FFFFFF !important;
	background-color: #5CB85C;
	border-color: #5CB85C;
}


.btn-outline-danger {
	color: #D9534F;
	background-color: transparent;
	background-image: none;
	border-color: #D9534F !important;
}
.btn-outline-danger:hover {
	color:#FFFFFF !important;
	background-color: #D9534F;
	border-color: #D9534F;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
	outline: 0 !important;
	color: #D9534F;
	-webkit-box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
	box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}


.btn-outline-grey {
	color: #888;
	background-color: transparent;
	background-image: none;
	border-color: #888;
}
.btn-outline-grey:focus,
.btn-outline-grey.focus {
	outline: 0 !important;
	color: #888;
	-webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
	box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}
.btn-outline-grey:hover {
	color:#FFFFFF !important;
	background-color: #888;
	border-color: #888;
}

.btn-outline-primary {
	color: #0275D8;
	background-image: none;
	background-color: transparent;
	border-color: #0275D8;
}

.btn-outline-primary:hover {
	color:#FFFFFF !important;
	background-color: #0275D8;
	border-color: #0275D8;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
	outline: 0 !important;
	color: #0275D8;
	-webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
	box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}


.btn-outline-warning {
	color: #F0AD4E !important;
	background-image: none;
	background-color: transparent;
	border-color: #F0AD4E !important;
}

.btn-outline-warning:hover {
	color: #FFFFFF !important;
	background-color: #F0AD4E !important;
	border-color: #F0AD4E !important;
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
	outline: 0 !important;
	color: #F0AD4E;
	-webkit-box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
	box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
	color: #F0AD4E !important;
	background-color: transparent;
}

.btn-outline-warning:active, .btn-outline-warning.active,
.show > .btn-outline-warning.dropdown-toggle {
	color: #FFFFFF !important;
	background-color: #F0AD4E !important;
	border-color: #F0AD4E !important;
}

.bold {
	font-weight: bold;
}
